.test
{

}




.other-contet-a
{

}




.test-1
{
    --scope-hash: h2; /* Collision-prevention ID */
    color:purple;    
}




.test-1__item
{
    color:green;
}




.other 
{

}


.other-content-b
{

}
