.test {
}

.other-contet-a {
}

.test-2 {
  color: gold;
  --scope-hash: h2; /* Collision-prevention ID */
}

.test-2__item {
  color: yellow;
  background-color: white;
}

.other {
}

.test-2__other {
}

.other-content-b {
  color: red;
}
