.test {
}

.other-contet-a {
}

.test-2__title {
}

.test-2 {
  color: red;
  --scope-hash: h2; /* Collision-prevention ID */
}

.test-2__item {
  color: green;
}

.test-2__other {
}

.other {
}

.test-2__other {
}

.other-content-b {
}
